// .box{
//     width: 100%;
// }

/*1. 어려운 단어를 쓸 때는 변수문법을 씁니다.*/

$main-color: #2a4cb2;
$sub-color: #eeeeee;
$기본사이즈: 20px;

.background{
    background-color: $main-color;
    font-size: ($기본사이즈 * 2);
}

.box {
    color: $sub-color;
    font-size: $기본사이즈 + 2px;
}